{
  "modules": [],
  "site_name": "My first website",
  "server": {
    "address": "localhost",
    "port": 8000
  },
  "storage": {
    "mongodb": {
      "host": "localhost",
      "database": "myfirstwebsite"
    }
  },
  "theme": {
    "name": "pinecone"
  },
  "system": {
    "session": {
      "secret": ""
    },
    "modules": {
      "enabled": [
        "storage",
        "session",
        "twigext",
        "view",
        "theme",
        "blocks",
        "menu",
        "forms",
        "user",
        "admin",
        "urlalias",
        "content",
        "files",
        "demo"
      ]
    }
  }
}
