<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Colibre CMS</title>
  <style>
    @import url('/themes/pinecone/css/pinecone.css');
  </style>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <!-- <li class="menu-text"><a href="/">Juvonet</a></li> -->
          <li><a href="/">Juvonet</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#1">Home</a></li>
          <li><a href="#2">Content</a></li>
          <li><a href="/login">Login</a></li>
          <li><input type="search" placeholder="Quick search"/></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="grid-container">
    <div class="callout warning" style="margin-top: 0.625rem">
      <p>Entering pre-alpha quality website!</p>
    </div>

    <main>
      {{ content }}
    </main>
  </div>

  <script src="/themes/pinecone/script.js"></script>
</body>
</html>
