<form>
  <fieldset class="grid-x grid-padding-x">
    <div class="cell">
      <h1>Login</h1>
      <p>Enter your user credentials to proceed.</p>
    </div>

    <div class="cell">
      <label>Username</label>
      <input type="text"/>
    </div>

    <div class="cell">
      <label>Password</label>
      <input type="password"/>
    </div>
  </fieldset>

  <div class="grid-x grid-padding-x">
    <div class="cell">
      <button type="submit" class="button">Login</button>
    </div>
  </div>
</form>
