/* line 1, ../scss/layout.scss */
#l-header {
  background-color: #8B1C1C;
  overflow-y: hidden;
}

/* line 7, ../scss/layout.scss */
.bg-primary {
  background-color: #8B1C1C !important;
}

/* line 11, ../scss/layout.scss */
ol.breadcrumb {
  background-color: transparent;
}

/* line 15, ../scss/layout.scss */
.main-header {
  background-color: #E2F5FF;
  border-bottom: 1px solid #ddd;
}
/* line 19, ../scss/layout.scss */
.main-header .nav-tabs {
  margin-bottom: -1px;
}

/* line 24, ../scss/layout.scss */
.page-title {
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.6rem;
}
