/* line 1, ../scss/layout.scss */
#l-header {
  background-color: #8B1C1C;
  overflow-y: hidden;
}

/* line 7, ../scss/layout.scss */
.bg-primary {
  background-color: #8B1C1C !important;
}

/* line 11, ../scss/layout.scss */
ol.breadcrumb {
  background-color: transparent;
}

/* line 15, ../scss/layout.scss */
.main-header {
  background-color: #E2F5FF;
  border-bottom: 1px solid #ddd;
}
/* line 19, ../scss/layout.scss */
.main-header .nav-tabs {
  margin-bottom: -1px;
}

/* line 24, ../scss/layout.scss */
.page-title {
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.6rem;
}

/* line 30, ../scss/layout.scss */
table.table {
  margin-top: -1px;
}
/* line 33, ../scss/layout.scss */
table.table thead th {
  border-color: #ddd;
}

/* line 1, ../scss/core/admin.scss */
.admin-toolbar {
  font-size: x-small;
  padding-top: 0.2rem;
  height: 1.7rem;
}
/* line 6, ../scss/core/admin.scss */
.admin-toolbar a.nav-link {
  padding: 0.2rem;
}

/* line 11, ../scss/core/admin.scss */
body.is-admin {
  padding-top: 1.7rem;
}
