
{% if title %}
  <h2>{{ title }}</h2>
{% endif %}
<table class="table">
  {% if caption %}
    <caption>{{ caption }}</caption>
  {% endif %}
  <thead>
    <tr>
      {% for column in columns %}
        <th>{{ column.label }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
        {% for column in columns %}
          <td>
            {% if exists("filter", column) %}
              {{ column.filter(get(row, column.key), row) }}
            {% else %}
              {{ get(row, column.key) }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
