<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{{ head_title }}</title>
  <style>
    @import url("/themes/pinecone/lib/bootstrap/dist/css/bootstrap.min.css");
    @import url("/themes/pinecone/css/theme.css");
  </style>
</head>
<body {% if identity.admin %}class="is-admin"{% endif %}>
  {{ blocks.page_top }}
  <header id="l-header">
    {{ blocks.header }}
  </header>
  <main id="l-main">
    <header class="main-header">
      <div class="container">
        <h1 class="page-title container">{{ page_title }}</h1>
        {{ blocks.content_top }}
      </div>
    </header>
    <div class="container">
      <ol class="breadcrumb">
        <li><a>Home</a></li>
        <li><a>Foobar</a></li>
      </ol>
      {{ content }}
      {{ blocks.content_bottom }}
    </div>
  </main>
  <script src="/themes/pinecone/lib/holderjs/holder.js"></script>
  <script src="/themes/pinecone/lib/ckeditor/ckeditor.js"></script>
  <script src="/themes/pinecone/js/init.js"></script>
</body>
</html>
