@import "~foundation-sites/scss/foundation";

$grid-container: 1000px;

$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 30),
    'h2': ('font-size': 26),
    'h3': ('font-size': 24),
    'h4': ('font-size': 22),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);

@include foundation-everything;
// @include foundation-top-bar;
