/* line 1, ../../scss/core/admin.scss */
.admin-toolbar {
  font-size: x-small;
  padding-top: 0.2rem;
  height: 1.7rem;
}
/* line 6, ../../scss/core/admin.scss */
.admin-toolbar a.nav-link {
  padding: 0.2rem;
}

/* line 11, ../../scss/core/admin.scss */
body.is-admin {
  padding-top: 1.7rem;
}
